@use 'conf';
#table-employees {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    border-radius: 30px 10px 30px 10px;
    border-color: map-get($map: conf.$background-colors, $key: main);
    border-style: solid;
    margin: 5% 5% 5% 5%;
  }